header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  height: 45px;
}

mat-toolbar {
  justify-content: space-between;
}
mat-toolbar .logo-image {
  padding-left: 1.5rem;
}

mat-toolbar .title-group {
  display: flex;
  padding: 1.5rem
}

.example-spacer {
  flex: 1 1 auto;
}